<p>Lista zadań</p>
<ul class="tasks-list">
  <li showDate [date]="task.created" *ngFor="let task of getTasksList(); let odd = odd" [ngClass]="{'grey-background': odd }">
    {{task.name | transformTask}}
    <button class="btn btn-warning" (click)="removeTask(task.id)">Usuń</button>
    <button class="btn btn-info" (click)="completeTask(task.id)">Zrobione</button>
  </li>
</ul>
