<p [ngClass]="{'jakas-klasa': 1 == 1}">Zadania wykonane: {{getDoneTasksList().length}}</p>
<ul>
  <li lemSetRedColor showDate [date]="task.end" *ngFor="let task of getDoneTasksList(); let i = index">
    {{task.name | transformTask : "!"}}
    <button class="btn btn-danger" (click)="removeDoneTask(task.id)">Usuń</button>
  </li>
</ul>
